body {
  padding: 0%;
  margin: 0%;
}

.fade-enter  {
  opacity: 0;
  transform: translateX(-100%);

}
.fade-enter-active  {
  opacity: 1;
  transform: translateX(0%);

}
.fade-exit  {
  opacity: 1;
  transform: translateX(0%);

}
.fade-exit-active  {
  opacity: 0;
  transform: translateX(100%);

}
.fade-enter-active ,
.fade-exit-active  {
  transition: opacity 1000ms, transform 1000ms;
}


.button-enter {
  opacity: 0;
  transform: scale(0.9);
}
.button-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1000ms, transform 1000ms;
}
.button-exit {
  opacity: 1;
}
.button-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1000ms, transform 1000ms;
}

